body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu','Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

// ------------------

$bg-color: #000000
$primary: #ffffff
$accent: #39a8f8
$text-color: #1f1f1f
$nav-size: 60px
$settings-gear-size: 40px
$border: 2px solid $accent
//$border: none
$border-radius: 2px

body
  background-color: $bg-color

ul
  list-style: none
  margin: 0
  padding: 0

a
  color: $text-color
  text-decoration: none

.control-bar
  min-height: $nav-size
  background-color: $primary
  padding: 0 1rem
  border-bottom: $border
  border-bottom-width: 10px
  overflow: hidden
  // center the items
  //display: grid
  //place-items: center

.settings-gear
  $padding-size: $settings-gear-size * .2

  width: $settings-gear-size
  height: $settings-gear-size
  //background-color: $primary
  //border-radius: 50% // circular
  padding: $padding-size
  //margin: 20px 20px 0 20px
  display: flex
  // animate brightness for hover
  transition: filter 300ms

.settings-gear:hover
  filter: invert(1) brightness(.2)

.settings-gear:active
  transform: scale(.8)
  filter: invert(1) brightness(.6)

.dropdown
  position: absolute
  width: 400px
  //top: 107px
  z-index: -1
  background-color: $primary
  border: $border
  border-radius: $border-radius
  padding: 5px
  margin: 20px
  overflow: hidden
  // animate the height
  transition: transform 500ms ease
  transform-origin: top

.dropdown-shrink
  transform: scaleY(0)

.dropdown-stretch
  transform: scaleY(1)

.grapick-bar
  padding: 20px 0 20px 0
